@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/weblogin Tema/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <style>
        .common-button {
            padding: 10px 20px;
            font-size: 18px;
            letter-spacing: 1.2px;
            border: none;
            text-transform: capitalize;
            outline: none;
            background: #03A9F4;
            color: #fff;
            cursor: pointer;
            margin: 10px auto; /* Butonlar arasında mesafe ekler */
            font-family: 'Open Sans', sans-serif;
            text-decoration: none; /* Linklerdeki alt çizgiyi kaldırır */
            display: inline-block; /* Buton şeklinde görünmesini sağlar */
        }

        .common-button:hover {
            background: #0288D1; /* Hover efekti için farklı renk */
        }

        .footer a i {
            color: white; /* İkonların rengini beyaz yapar */
            font-size: 30px; /* İkonların boyutunu ayarlar */
        }

        .footer a i:hover {
            color: #cccccc; /* Üzerine gelindiğinde griye döner */
        }

        .footer a {
            text-decoration: none; /* Alt çizgiyi kaldırır */
        }
    </style>
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>ADMİN PANELİNE HOŞGELDİNİZ</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                @using (Html.BeginForm("Login", "GirisYap", FormMethod.Post))
                {
                    <input type="text" name="Mail" placeholder="Kullanıcı Adınız" required="" />
                    <input type="password" name="Konu" class="padding" placeholder="Şifre" required="" />
                    <input type="submit" value="Giriş Yap" class="common-button" />

                    <a href="/Default/Index/" class="common-button">Siteye Dön</a>
                }
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>ONUR SÖNMEZ</p>
            <a href="https://www.linkedin.com/in/onursonmez37/" target="_blank" title="LinkedIn Profili">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/onursonmez3437" target="_blank" title="GitHub Profili" class="github">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</body>
</html>
