
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <style>
        #nav li:first-child {
            margin-left: 20px; /* İstediğiniz kadar sağa kaydırabilirsiniz */
        }
        .grid1-l-desc {
            text-align: right; /* Tüm içeriği sağa yaslar */
        }
    </style>
    <title>Photier Staj Sitem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });</script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Default/Index/"><img src="~/web/images/logoo.png" style="width: 100px; height: 100px;" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>+90 541 486 48 24</p>
                    <ul>
                        <a href="#" class="btn btn-primary" onclick="changeLanguage('tr')">Türkçe</a>
                        <a href="#" class="btn btn-secondary" onclick="changeLanguage('en')">English</a>
                    </ul>
                    <a href="https://www.linkedin.com/in/onursonmez37/">
                        <img style="width: 30px; height: 30px;" src="~/web/images/contactt.png" alt="Contact">
                    </a>
                    <a href="https://github.com/onursonmez3437">
                        <img style="width: 30px; height: 30px;" src="~/web/images/gitson.fw.png" alt="Contact">
                    </a>
                    <br>
                    <br>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li style="margin-left: 100px;">
                    <a href="/Default/Index/">@Resources.Resources.Home</a>
                </li>
                <li>
                    <a class="hsubs" href="/About/Index/">@Resources.Resources.ABOUTME</a>
                    <ul class="subs">
                        <li><a href="/About/Index/">CHATGBT NİN BİLGİLERİ</a></li>
                        <li><a href="/Blog/Index/">Blogum</a></li>
                        <li><a href="#">GÜZEL ANILARIMIZ</a></li>
                    </ul>
                </li>
                <li>
                    <a class="hsubs" href="#">NEDİR</a>
                    <ul class="subs">
                        <li><a href="/API/Index/">API NEDİR</a></li>
                        <li><a href="/CDN_/Index/">CDN NEDİR</a></li>
                        <li><a href="#">DOCKER NEDİR</a></li>
                    </ul>
                </li>
                <li><a href="/Iletisim/Index">İLETİŞİM</a></li>
            </ul>
        </div>
    </div>

    <div class="header-banner">
        <div class="wrap">
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2024 | Design by <a href="http://w3layouts.com">ONUR SÖNMEZ</a></p>
            </div>
        </div>
    </div>
</body>
</html>


<script>
    function changeLanguage(lang) {
        // Mevcut URL'yi al
        var currentUrl = window.location.pathname;

        // URL'deki query string'i kontrol et
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var currentLang = urlParams.get('lang');  // Mevcut dil parametresi

        // Mevcut URL'nin başında '/tr' veya '/en' varsa, onları kaldır
        var baseUrl = currentUrl.replace(/^\/(tr|en)\//, '/'); // tr veya en'i baştan kaldırır

        // Yeni URL'yi oluştur: /[lang]/mevcut-yol
        var newUrl = '/' + lang + baseUrl;

        // Eğer query string'de zaten 'lang' parametresi varsa, onu da ekle
        if (queryString) {
            // 'lang' parametresini query string'e ekle
            newUrl += '?lang=' + lang;
        }

        // Sayfayı yeni URL'ye yönlendir
        window.location.href = newUrl;
    }
</script>

