
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <style>
        .grid1-l-desc {
            text-align: right; /* Tüm içeriği sağa yaslar */
        }
    </style>
    <title>Photier Staj Sitem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
    // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });</script>
</head>
<body>
    @{
        var currentLang = ViewBag.Language ?? "tr";
    }
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Default/Index/"><img src="~/web/images/logoo.png" style="width: 100px; height: 100px;" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>+90 541 486 48 24</p>
                    <a href="https://www.linkedin.com/in/onursonmez37/">
                        <img style="width: 30px; height: 30px;" src="~/web/images/contactt.png" alt="Contact">
                    </a>
                    <a href="https://github.com/onursonmez3437">
                        <img style="width: 30px; height: 30px;" src="~/web/images/gitson.fw.png" alt="Contact">
                    </a>
                    <br>
                    <form method="get" action="@Url.Action("ChangeLanguage", "Home")" style="display: inline-block; margin: 0;">

                        <select name="lang" onchange="this.form.submit()" style="border: 1px solid #ddd; border-radius: 5px; padding: 5px 10px; font-size: 10px; cursor: pointer; background-color: #f9f9f9;">
                            <option value="tr" @(currentLang == "tr" ? "selected" : "")>TÜRKÇE</option>
                            <option value="en" @(currentLang == "en" ? "selected" : "")>ENGLISH</option>
                            <!-- Diğer diller -->
                        </select>
                    </form>
                    <br>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Default/Index/">ANA SAYFA</a></li>
                <li>
                    <a class="hsubs" href="/About/Index/">HAKKIMIZDA</a>
                    <ul class="subs">
                        <li><a href="/About/Index/">CHATGBT NİN BİLGİLERİ</a></li>
                        <li><a href="/Blog/Index/">Blogum</a></li>
                        <li><a href="#">GÜZEL ANILARIMIZ</a></li>
                    </ul>
                </li>

                <li>
                    <a class="hsubs" href="#">NEDİR</a>
                    <ul class="subs">
                        <li><a href="/API/Index/">API NEDİR</a></li>
                        <li><a href="/CDN_/Index/">CDN NEDİR</a></li>
                        <li><a href="#">DOCKER NEDİR</a></li>
                    </ul>
                </li>
                <li><a href="/Iletisim/Index">İLETİŞİM</a></li>
            </ul>
        </div>
    </div>
    <div class="header-banner">
        <div class="wrap">
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2024 | Design by <a href="http://w3layouts.com">ONUR SÖNMEZ</a></p>
            </div>
        </div>
    </div>
</body>
</html>
