
@{
    Layout = null;
}
<link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<!DOCTYPE HTML>
<html>
<head>
    <style>
        #nav li:first-child {
            margin-left: 20px; /* İstediğiniz kadar sağa kaydırabilirsiniz */
        }

        .grid1-l-desc {
            text-align: right; /* Tüm içeriği sağa yaslar */
        }
    </style>
    <title>Photier Staj Sitem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });</script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Default/Index/"><img src="~/web/images/logoo.png" style="width: 100px; height: 100px;" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-desc">
                    <p style="color:aliceblue">📞&nbsp;&nbsp;+90 541 486 48 24</p>

                    <a href="https://www.linkedin.com/in/onursonmez37/" style="text-decoration: none;">
                        <i class="fab fa-linkedin" style="font-size: 30px; color: #ffffff;"></i>
                    </a>
                    <a href="https://github.com/onursonmez37" style="text-decoration: none;">
                        <i class="fab fa-github" style="font-size: 30px; color: #ffffff;"></i>
                    </a>
                    <a href="#" class="btn btn-primary" id="btnTurkish" style="display: none;" onclick="changeLanguage('tr')">Türkçe</a>
                    <a href="#" class="btn btn-whitee" id="btnEnglish" onclick="changeLanguage('en')">ENGLISH</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li style="margin-left: 100px;">
                    <a href="/Default/Index/">@Resources.Resources.Home</a>
                </li>
                <li>
                    <a class="hsubs" href="/About/Index/">@Resources.Resources.ABOUTME</a>
                    <ul class="subs">
                        <li><a href="/About/Index/">CHATGBT NİN BİLGİLERİ</a></li>
                        <li><a href="/Blog/Index/">Blogum</a></li>
                        <li><a href="#">GÜZEL ANILARIMIZ</a></li>
                    </ul>
                </li>
                <li>
                    <a class="hsubs" href="#">NEDİR</a>
                    <ul class="subs">
                        <li><a href="/API/Index/">API NEDİR</a></li>
                        <li><a href="/CDN_/Index/">CDN NEDİR</a></li>
                        <li><a href="#">DOCKER NEDİR</a></li>
                    </ul>
                </li>
                <li><a href="/Iletisim/Index">İLETİŞİM</a></li>
            </ul>
        </div>
    </div>

    <div class="header-banner">
        <div class="wrap">
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2024 | Design by <a href="http://w3layouts.com">ONUR SÖNMEZ</a></p>
            </div>
        </div>
    </div>
</body>
</html>


<script>
    function changeLanguage(lang) {
        // Mevcut URL'yi al
        var currentUrl = window.location.pathname;

        // URL'deki query string'i kontrol et
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var currentLang = urlParams.get('lang');  // Mevcut dil parametresi

        // Mevcut URL'nin başında '/tr' veya '/en' varsa, onları kaldır
        var baseUrl = currentUrl.replace(/^\/(tr|en)\//, '/'); // tr veya en'i baştan kaldırır

        // Yeni URL'yi oluştur: /[lang]/mevcut-yol
        var newUrl = '/' + lang + baseUrl;

        // Eğer query string'de zaten 'lang' parametresi varsa, onu da ekle
        if (queryString) {
            // 'lang' parametresini query string'e ekle
            newUrl += '?lang=' + lang;
        }

        // Sayfayı yeni URL'ye yönlendir
        window.location.href = newUrl;
    }
</script>
<script>
    $(document).ready(function () {
        // URL'deki 'lang' parametresini al
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var currentLang = urlParams.get('lang');

        // Eğer dil parametresi yoksa, varsayılan olarak Türkçe kabul et
        if (!currentLang) {
            currentLang = 'tr';
        }

        // Eğer dil Türkçe ise, sadece İngilizce butonunu göster
        if (currentLang === 'tr') {
            $('#btnTurkish').hide();
            $('#btnEnglish').show();
        }
        // Eğer dil İngilizce ise, sadece Türkçe butonunu göster
        else if (currentLang === 'en') {
            $('#btnTurkish').show();
            $('#btnEnglish').hide();
        }
    });
</script>
<style>
    #btnEnglish {
        margin-top: -8;
        height: 30px/* Adjust this value to move the button up or down */
    }
    .btn-whitee {
        color: #000; /* Siyah metin rengi */
        background-color: #fff; /* Beyaz arka plan */
        border-color: #ccc; /* Hafif gri bir kenarlık */
    }
        .btn-white:hover {
            background-color: #f1f1f1; /* Hover durumunda hafif gri arka plan */
            color: #007bff; /* Hover durumunda mavi metin */
            border-color: #007bff; /* Hover durumunda mavi kenarlık */
        }
</style>
