<div class="padding1">
    <h4 style="text-align: center;">DÜŞÜNCELERİM 🗯️</h4>
    <div class="box-left">
        <div class="bot-img">
            <img src="~/web/images/pica.jpg" alt="" width="150" height="165" />
        </div>
        <div class="bot-desc">
            <p style="font-size: 11.5px;">
                ASP.NET MVC, web projelerinde düzenli bir yapı sağlıyor. Başlangıçta öğrenmesi biraz karmaşık gelse de, Model View Controller ilişkisini öğrendikten sonra kullanımı rahat ve işinizi hızlandırıyor.Visual Studio gibi araçlar da büyük bir avantaj sağlıyor.
            </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic2.jpg" alt="" width="150" height="165" />
        </div>
        <div class="bot-desc">
            <p style="font-size: 11.1px;">
                Öğrenmesi başlangıçta kolaydır ve çoğu tarayıcıda çalıştığı için ekstra bir kurulum gerektirmez.Hem web sitesinin görünümünü değiştirmek hem de kullanıcıyla daha iyi etkileşim kurmak için oldukça kullanışlıdır.Kısacası JavaScript temel bir web geliştirme aracı olarak işinizi oldukça kolaylaştırır.
            </p>
        </div>
    </div>
    <div class="box1-left">
        <div class="bot-img">
            <img src="~/web/images/pic3a.jpg" alt="" width="150" height="165" />
        </div>
        <div class="bot-desc1">
            <p style="font-size: 11.5px;">
                Google Autocomplete Place özelliği, kullanıcıların adres veya yer bilgilerini hızlı ve doğru bir şekilde girmelerini kolaylaştıran bir araçtır. Bu özellik, yazı yazarken otomatik olarak öneriler sunar ve kullanıcıların tam adres veya yer isimlerini seçmesini sağlar.
            </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic4a.jpg" alt="" width="150" height="165" />
        </div>
        <div class="bot-desc1">
            <p style="font-size: 11.2px;">Hangfire, arka planda çalışan görevleri yönetmek için gerçekten işimi kolaylaştıran bir araç. Zamanlanmış ve tekrarlayan işleri otomatik olarak hallediyor ve arayüzü sayesinde kolay takip hizmeti sunuyor. Ayrıca, görevler başarısız olursa Hangfire otomatik olarak yeniden deniyor.</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
