<div class="con-top">
    <h3 style="text-align:center;">👨🏽‍💻 👨‍🎓 STAJDA ÖĞRENDİKLERİM BLOĞUNA HOŞ GELDİNİZ 👨‍🎓 👨🏽‍💻</h3>
    <p>
        Bu staj sürecinde, yazılım dünyasında birçok yeni teknolojiyi öğrenme ve deneyimleme fırsatım oldu. Çalışmalarım sırasında ağırlıklı olarak <strongg>ASP.NET Core</strongg> teknolojisi kullandım ve bu framework ile nasıl verimli bir şekilde web uygulamaları geliştirebileceğimi öğrendim.
    </p>
    <p>
        Ayrıca, versiyon kontrol sistemlerinde <strongg>Git</strongg> kullanarak ekip çalışmasında kod yönetimini nasıl daha etkili yapabileceğimi öğrendim. Bu süreçte versiyonlama, dallar oluşturma, birleştirme ve sorunları çözme gibi Git komutlarına hakim oldum.
    </p>
    <p>
        <strongg>HTML</strongg>, <strongg>CSS</strongg>, <strongg>JavaScript</strongg> ve <strongg>jQuery</strongg> gibi web teknolojilerinde de kendimi geliştirme şansı buldum.
    <p>
        Özellikle: Kullanıcı dostu ve modern tasarımlar oluşturmak için <strongg>HTML ve CSS</strongg> üzerinde çalıştım.
        Dinamik ve etkileşimli web sayfaları geliştirmek için JavaScript'teki yeteneklerimi geliştirdim.
        <strongg>jQuery</strongg> kütüphanesini kullanarak daha hızlı ve pratik çözümler ürettim.
    <p> Bu staj, bana sadece teknik beceriler kazandırmakla kalmadı, aynı zamanda problem çözme yeteneğimi ve ekip çalışmasındaki rolümü güçlendirdi. Gelecekteki görevlerimde bu kazanımlarımı kullanmayı heyecanla bekliyorum.✨</p>
    <p><strongg>BANA BU FIRSATI SUNDUĞUNUZ İÇİN VE TÜM YARDIMLARINIZ İÇİN TEŞEKKÜRLER PHOTIER 🙏❤️ </strongg></p>
</div>
